@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #766F68;
}

header {
    padding: 40px;
    font-size: 20px;
    
}

header .logo {
    position: absolute;
    color: #D2872C;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}

header a {
    text-decoration: none;
}

header ul {
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: 20px;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

div.txt {
    position: absolute;
    width: 1000px;
    float: left;
    inline-size: auto;
    padding: 40px 40px 40px 100px;
}

div h1 {
    font-size: 5em;
    margin: 0;
}

div p {
    font-size: 30px;
    margin: 0px;
}

#btn {
    width: 300px;
    height: 80px;
    background-color: #D2872C;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    color: white;
    margin-top: 150px;
    font-weight: bold;
}

#img {
    position: relative;
    float: right;
    inline-size: auto;
}


