@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #766F68;
}

header {
    padding: 40px;
    font-size: 20px;
}

header .logo {
    position: absolute;
    color: #D2872C;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}

header a {
    text-decoration: none;
}

header ul {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

div.txt {
    position: absolute;
    width: 1000px;
    float: left;
    inline-size: auto;
    padding: 40px 40px 40px 100px;
    z-index: 1;
}

div h1 {
    font-size: 5em;
    margin: 0;
}

div p {
    font-size: 30px;
    margin: 0px;
}

#btn {
    width: 300px;
    height: 80px;
    background-color: #D2872C;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    color: white;
    margin-top: 150px;
    font-weight: bold;
}

#img {
    position: relative;
    float: right;
    z-index: 0;
}

@media screen and (max-width: 1600px) {
    img {
        width: 1000px;
    }
}

@media screen and (max-width:1450px) {
    img {
        width: 700px;
    }
}

@media screen and (max-width:1024px) {
    
    .itens {
        display: flex;
        flex-direction: column;
    }

    header  {
        padding-bottom: 0%;
    }

    div h1, p {
        font-size: 3em;
        text-align: center;
        padding-bottom: 40px;
        display: block;
        margin: 0px auto;
        
    }

    div.txt {
        display: block;
        float: none;
        position: static;
        padding: 0px;
        order: 2;
    }

    img {
        width: 450px;
        display: block;
        margin: 0px auto;
    }

    #img {
        float: none;
        position: static; 
        order: 1;  
        padding-top: 100px;
        padding-bottom: 50px;
    }

    #btn {
        display: block;
        margin: 0px auto;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        right: 0;
        left: 720px;
        overflow-x: hidden;
    }
    
    .mobile_menu div {
        display: block;
        width: 32px;
        height: 2px;
        background-color: black;
        margin: 8px;
    }
}
